body{
    color: #73879C;
    background: #2A3F54;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

.container{
    width: 100%;
    padding: 0;
}

.nav-md .container.body .col-md-3.left_col{
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
}

.nav_title {
    width: 230px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px;
}

.navbar {
    margin-bottom: 0;
}

.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    margin-left: 0px;
    padding-left: 10px;
}

.navbar-brand, .navbar-nav > li > a, .site_title {
    color: #ECF0F1 !important;
    margin-left: 0 !important;
}

.main_container .top_nav {
    display: block;
    margin-left: 230px;
}

.nav_menu {
    float: left;
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right;
}

.navbar-right {
    margin-right: 0;
}

.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static;
}