{% extends "auth/base_site.html" %}
{% import "auth/site_template/_macros.html" as macros %}
{% block title %}
    相关内容
{% endblock %}

{% block content %}

<div class="right_col" role="main">
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
                <h2>相关内容保存</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />

              <form  class="form-horizontal form-label-left" action="{{ url_for('auth.saveinfo') }}" method="post" >
                  {{ form_save.hidden_tag() }}
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form_save.title.label }}<span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form_save.title(id='title',required="required",class="form-control col-md-7 col-xs-12 ") }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">{{ form_save.href.label }} <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form_save.href(id='href',required="required",class="form-control col-md-7 col-xs-12 ") }}
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form_save.time.label }} <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form_save.time(id='time',class="date-picker form-control col-md-7 col-xs-12 sendemail",required="required") }}
                  </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <a id="btn_save" class="btn btn-primary" >保存</a>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
</div>


{% endblock %}

{% block javascripts %}
  {{ super()}}
    <script src="{{ url_for('static',filename='../../static/assets/build/js/my.js') }}"></script>
{% endblock javascripts %}
